*{
	box-sizing: border-box;
}

/*--------------------------Text & Fonts--------------------------*/
@font-face{
	font-family: CircularStd-Book; 
	src: url('../Fonts/CircularStd-Book.otf');
}

@font-face{
	font-family: CircularStd-BookItalic; 
	src: url('../Fonts/CircularStd-BookItalic.otf');
}

@font-face{
	font-family: CircularStd-Black; 
	src: url('../Fonts/CircularStd-Black.otf');
}

@font-face{
	font-family: CircularStd-BlackItalic; 
	src: url('../Fonts/CircularStd-BlackItalic.otf');
}

@font-face{
	font-family: CircularStd-Bold; 
	src: url('../Fonts/CircularStd-Black.otf');
}

@font-face{
	font-family: CircularStd-BoldItalic; 
	src: url('../Fonts/CircularStd-BoldItalic.otf');
}

.HeaderText{
	font-size: 6rem;
	font-family: CircularStd-Black, Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

.SubheaderText{
	font-size: 3.75rem;
	font-family: CircularStd-Black, Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

.SubsubheaderText{
	font-size: 2.0625rem;
	font-family: CircularStd-Black, Helvetica, Arial, sans-serif;
}

.Bodycopy{
	font-size: 1.375rem;
	font-family: CircularStd-Book, Helvetica, Arial, sans-serif;
}

.BodycopyItalicized{
	font-family: CircularStd-BookItalic, Helvetica, Arial, sans-serif;	
}

.BylineText{
	font-size: 1.2rem;
	font-family: CircularStd-Book, Helvetica, Arial, sans-serif;
}

.Black{
	font-family: CircularStd-Black, Helvetica, Arial, sans-serif;	
}

body{
	font-size: 1.375rem;
	font-family: CircularStd-Book, Helvetica, Arial, sans-serif;
}

.underline{
	text-decoration: underline;
}

/*---------------------------Color---------------------------*/
.yellow{
	color: rgb(255,174,6);
}

.yellowback{
	background-color: rgb(255,174,6);
}

.green{
	color: rgb(146, 234, 202);
}

.greenback{
	background-color: rgb(146, 234, 202);
}

.red{
	color: rgb(255, 87, 92);
}

.redback{
	background-color: rgb(255, 87, 92);
}

.blue{
	color: rgb(8, 76, 211);
}

.blueback{
	background-color: rgb(8, 76, 211);
}

.grayback{
	background-color: rgb(243,243,243);
}

.gray{
	color: rgb(243,243,243);
}

.white{
	color: white;
}

.black{
	color: black;
}

/*---------------------------Header & Banners---------------------------*/
header{
	position: fixed;
	width: 15%;
	right: 0;
	float: right;
	padding-right: 5%;
	display: flex;
	justify-content: flex-end;
	top: 0;
	z-index: 2;
}

header a, header div{
	margin: 0% 3%;
	padding: 0%;
}

.Banners img{
	transform: translateY(-20px);
}

/*---------------------------Title Screen---------------------------*/
#DRFIconWrapper{
	position: absolute;
	width: 100%;
	height: 10%;
	top: 5%;
	display: flex;
}

#DRFIconWrapper img{
	max-width: 10%;
	margin: auto;
}

#title-screen{
	width: 100%;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: relative;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	text-align: center;
  	margin: 0%;
  	overflow-x: hidden;
}

#title-background{
	width: 100%;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background-image: url('../Media/DRFMedia/BigIcons.png');
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center bottom;
	z-index: -1;
	margin: 0%;
	overflow-x: hidden;
}

#arrowdiv{
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0 2% 0 0;
}

#arrowdiv a img{
	display: inline-block;
	width: 2%;
	position: absolute;
	bottom: 1%;
	z-index: 10;
	margin: 0;
	padding: 0;
}

/*---------------------------Introtext---------------------------*/
#introtext{
	width: 100%;
	padding: 2% 20%;
	position: relative;
	margin: auto;
}

/*---------------------------Quotes---------------------------*/
.quotes{
	padding: 5% 10%;
	position: relative;
	width: 100%;
}

.individualquote{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 0%;
}

.quotes .flexreverse{
	flex-direction: row-reverse;
}

.individualquote .quoteimg{
	margin: 0 0;
	padding: 0 0;
	width: 10%;
}

.quoteimg img{
	width: 100%;
}

.individualquote .quotetext{
	width: 85%;
}

.individualquote .quotetitle p{
	margin: 0 0;
	padding: 0 0;
}

.quotetitleright{
	text-align: right;
}

.quotequote{
	line-height: 0;
}

#Josh{
	margin: 5% 0% 2% 0%;
	padding: 0% 10%;
}

/*---------------------------Section Titles---------------------------*/
.section-title{
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: relative;
}

.section-title .section-image{
	display: inline-block;
	width: 58%;
	float: right;
}

.section-title .section-image img{
	width: 28%;
	margin-top: 10%;
	margin-bottom: 10%;
	padding-bottom: 0%;
	float: left;
}

.section-title .section-text{
	display: inline-block;
	margin-top: 20%;
	padding-bottom: 2%;
	width: 42%;
}

/*---------------------------Content Pages---------------------------*/
.content-page{
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	overflow: hidden;
	padding-top: 5%;
	padding-bottom: 5%;
}

.content-page .bodytext{
	display: inline-block;
	position: relative;
	width: 55%;
	top: 0;
}

.content-page .whole-width{
	width: 100%;
}

.content-page h2{
	word-break: word-break;
	max-width: 100%;
}

.content-page p{
	word-break: word-break;
	max-width: 95%%;
}

.content-page .SingleGraphic{
	display: inline-block;
	position: relative;
	width: 35%;
	height: 100%;
	float: right;
  }

.SingleGraphic img{
	display: inline-block;
	width: 100%;
	position: relative;
}

.content-page .centered{
	position: relative;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
}

.content-page .centered img{
	position: relative;
	padding: 0% 0%;
	margin: 0% 0%;
	width: 50%;
}

.aligndivs{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.aligntop{
	align-self: flex-start;
}

.MultiGraphic{
	margin-top: 5%;
	position: relative;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 5%;
}

.MultiGraphic .row1, .MultiGraphic .row2, .MultiGraphic .row3, .MultiGraphic .row4, .MultiGraphic .row5,.MultiGraphic .row6,.MultiGraphic .row7, .MultiGraphic .row8, .MultiGraphic .row9{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.MultiGraphic img, .MultiGraphic a{
	width: 30%;
	margin: 2%;
}

.MultiGraphic a img{
	width: 100%;
	margin: auto;
}

#FourRows img{
	width: 22.5%;
}

#FiveRows img{
	width: 18%;
}

#Schools .row9{
	justify-content: center;
}

#YCLogos{
	padding-left: 0%;
	padding-right: 0%;
}

#YCLogos .row4{
	justify-content: center;
}

/*---------------------------Newsletter---------------------------*/
#newsletter{
	position: relative;
	text-align: center;
	padding: 5% 5%;
}

.centeredtext{
	text-align: center;
}

#newsletter p{
	margin-top: 0%;
}

#signup{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	max-width: 80%;
}

#signup input, #signup button{
	border: 1px solid #dbdbdb;
	padding: .8rem .8rem .8rem 1rem;
	width: 25%;
	border-radius: .1rem;
	font-weight: 300;
}

#signup button{
	color: white;
}

/*---------------------------Apply---------------------------*/
#applysection{
	position: relative;
	text-align: center;
	background-color: rgb(8, 76, 211);
	top: 0;
	margin-top: 0%;
	padding: 5%;
	width: 100%;
	overflow: hidden;
}
#videowrapper{
	position: relative;
	display: inline-block;
	width: 50%;
	height: 100%;
	margin: 0;
}

#video{
	position: relative;
	display: inline-block;
	width: 80%;
	margin: 0;
	padding: 0;
}

#video img{
	display: block;
	width: 100%;
	height: auto;
}

#video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#apply{
	position: relative;
	display: inline-block;
	width: 50%;
	float: right;
}

#applyflex{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#apply button{
	padding: 2%;
	background-color: white;
	border: 1px solid white;
	border-radius: 10px;
	width: 50%;
}

#apply h2{
	margin-bottom: 3%;
	margin-top: 0%;
	word-break: word-break;
}

/*---------------------------Thanks---------------------------*/
#thanks{
	text-align: center;
	padding: 2% 20%;
}

/*---------------------------Footer---------------------------*/
footer{
	display: flex;
	padding-left: 5%;
	padding-right: 5%;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	bottom: 0;
	height: 25vh;
}
