/*--------------------------- Text & Fonts---------------------------*/
@media screen and (max-width: 800px){
	.HeaderText{
		font-size: 3.375rem;
	}

	.SubheaderText{
		font-size: 2.8125rem;
	}

	.SubsubheaderText{
		font-size: 1.546875rem;
	}

	.Bodycopy{
		font-size: 1.03125rem;
	}

	.BodycopyItalicized{
		font-family: CircularStd-BoldItalic, Helvetica, Arial, sans-serif;	
	}

	body{
		font-size: 1.03125rem;
		font-family: CircularStd-Book, Helvetica, Arial, sans-serif;
	}
}

@media screen and (max-width: 500px){
	.HeaderText{
		font-size: 2.25rem;
	}

	.SubheaderText{
		font-size: 1.875rem;
	}

	.SubsubheaderText{
		font-size: 1.03125rem;
	}

	.Bodycopy{
		font-size: .6875rem;
		font-family: CircularStd-Bold, Helvetica, Arial, sans-serif;
	}

	.BodycopyItalicized{
		font-family: CircularStd-BoldItalic, Helvetica, Arial, sans-serif;	
	}

	body{
		font-size: 1.03125rem;
		font-family: CircularStd-Book, Helvetica, Arial, sans-serif;
	}
}

/*---------------------------Social Media---------------------------*/
@media screen and (max-width: 800px){
	.Banners img{
		width: 28.125px;
		height: 70.3125px;
		transform: translateY(-15px);
	}

	header a, header div{
		margin: 0% 1%;
		padding: 0%;
	}
}

/*---------------------------Title Screen---------------------------*/
@media screen and (max-width: 800px){
	#DRFIconWrapper img{
		max-width: 15%;
	}

	#title_background img{
		width: 3.5%;
	}
}

@media screen and (max-width: 500px){
	#DRFIconWrapper img{
		max-width: 20%;
	}

	#title-background{
		height: 89vh;
		background-size: 95%;
	}

	#arrowdiv{
		padding-right: 3%;
	}

	#arrowdiv a img{
		width: 3%;
		margin-bottom: 17%;
	}

}

/*---------------------------Introtext---------------------------*/
@media (max-width: 800px){
	#introtext{
		padding-top: 0%;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 500px){
	#introtext{
		padding-left: 5%;
		padding-right: 5%;
	}
}

/*---------------------------Quotes---------------------------*/
@media screen and (max-width: 800px){
	#quotes{
		padding: 5%;
	}

	#Josh{
		margin: 5% 0% 5% 0%;
		padding: 1% 5%;
	}

	#Josh .individualquote .quoteimg{
		width: 20%;
	}

	#Josh .individualquote .quotetext{
		width: 75%;
	}
}

@media screen and (max-width: 500px){
	.individualquote{
		display: inline-block;
		padding-top: 10%;
	}

	.individualquote .quotetext{
		display: inline-block;
		width: 100%;
	}

	.individualquote .quoteimg{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.individualquote .quoteimg img{
		width: 30%;
	}

	.quotetitle{
		text-align: right;
	}

	#Josh{
		margin: 5% 0% 2% 0%;
		padding: 0%;
	}

	#Josh .individualquote{
		margin: 5% 0%;
		padding: 0% 5%;
	}

	#Josh .individualquote .quoteimg{
		width: 100%;
	}

	#Josh .individualquote .quotetext{
		width: 100%;
	}
}

/*---------------------------Section Headings---------------------------*/
@media screen and (max-width: 800px){
	.section-title .section-image img{
		width: 40%;
	}
}

@media screen and (max-width: 500px){
	.section-title .section-image{
		margin-top: 10%;
		margin-bottom: 0%;
		padding-bottom: 0%;
		width: 100%;
		float: none;
	}

	.section-title .section-image img{
		margin: auto;
		padding-bottom: 0%;
		padding-left: 25%;
		padding-right: 25%;
		width: 100%;
		float: none;
	}

	.section-title .section-text{
		margin: 5% 0%;
		text-align: center;
		width: 100%;
		float: none;
	}
}

/*---------------------------Content---------------------------*/
@media screen and (max-width: 600px){
	.content-page h2, .content-page p{
		max-width: 100%;
		text-align: center;
	}
}

/*Content Page*/
@media screen and (max-width: 800px){
	.content-page .bodytext{
		width: 100%;
	}

	.content-page .SingleGraphic{
		width: 100%;
		text-align: center;
		margin-left: 0%;
		margin-right: 0%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.content-page .SingleGraphic img{
		text-align: center;
		margin-left: 0%;
		margin-right: 0%;
		padding-left: 0%;
		padding-right: 0%;
	}
}



/*---------------------------Graphics---------------------------*/
@media screen and (max-width: 800px){
	.SingleGraphic{
		width: 100%;
	}

	.SingleGraphic img{
		width: 80%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.content-page .centered img{
		width: 80%;
	}

	.MultiGraphic{
		margin-top: 5%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.MultiGraphic .row1, .MultiGraphic .row2, .MultiGraphic .row3, .MultiGraphic .row4, .MultiGraphic .row5,.MultiGraphic .row6,.MultiGraphic .row7, .MultiGraphic .row8{
		justify-content: space-between;
	}

	#Fiverows .row9, #YCLogos .row4{
		justify-content: center;
	}

	.MultiGraphic img, .MultiGraphic a{
		margin: 3% 0%;
	}

	.MultiGraphic a img{
		width: 100%;
		margin: auto;
	}

	.aligndivs{
		display: block;
	}

	#StudentVCs .row1, #StudentVCs .row2{
		justify-content: center;
	}
}

@media screen and (max-width: 500px){
	.SingleGraphic img{
		width: 100%;
	}

	.content-page .centered img{
		width: 100%;
	}

	.MultiGraphic{
		margin-top: 10%;
	}

	.MultiGraphic img, .MultiGraphic a{
		width: 30%;
		height: 30%;
		margin: 2% 0%;
	}

	#StudentVCs img{
		width: 40%;
	}
}

/*---------------------------Newsletter---------------------------*/
@media screen and (max-width: 1000px){
	#signup{
		max-width: 90%;
	}
}

@media screen and (max-width: 600px){
	#signup{
		flex-direction: column;
	}

	#signup input, #signup button{
		width: 60%;
		margin-top: 2.5%;
		margin-bottom: 2.5%;
	}
}

/*---------------------------Apply---------------------------*/
@media screen and (max-width: 1200px){
	#videowrapper, #video{
		width: 75%;
	}

	#apply{
		width: 100%;
		float: none;
		padding-top: 5%;
	}
}

@media screen and (max-width: 1000px){
	#videowrapper, #video{
		width: 80%;
	}
}

@media screen and (max-width: 800px){
	#videowrapper, #video{
		width: 90%;
	}

	#apply button{
		width: 75%;
		padding: 2%;
	}

	#apply .ButtonText{
		font-size: 1.03125rem;
	}
}

@media screen and (max-width: 600px){
	#videowrapper, #video{
		width: 100%;
	}
}
/*---------------------------Thanks---------------------------*/
@media screen and (max-width: 800px){
	#thanks{
		padding: 2% 10%;
	}
}

@media screen and (max-width: 500px){
	#thanks{
		padding: 2% 5%;
	}
}

/*---------------------------Footer---------------------------*/
@media screen and (max-width: 600px){
	footer{
		display: inline-block;
		width: 100%;
		height: 25%;
		padding: 5%;
	}

	footer p{
		text-align: center;
	}

}